@media only screen and (max-width:1170px){
    .nav-list{
        flex-direction: column;
    }
    .navBar{
        flex-direction: column;
        transition: all 0.4s ease-out;
        height: 500px;
    }
    .rightNav{
        text-align: center;
    }
    .burger{
        display: block;
    }
    .logo{
        display: flex;
    }
    .logo img{
        width: 35%;
        margin: auto;
    }
    .height-nav-resp{
        height: 70px;
    }
    .nav-visibility-resp{
        opacity:0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 95%;
    }
    .section{
        flex-direction: column;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px 0px;
    }
}
