@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Raleway:ital,wght@0,100;0,400;1,100&display=swap');

* {
    margin: 0;
    padding:0;
    font-weight: normal;
}

html{
    scroll-behavior:smooth;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.logo{
    width :40%;
    height: 40%;
    padding: 18px 36px;
    border: 0;
    max-width: 330px;
    justify-content: center;
    align-items: center;
}

.logo img{
    width : 20%;
    border: 3px solid blanchedalmond;
    border-radius: 80px;
}

.nav-list{
    display: flex;
    width: 70%;
    align-items: center;
    height: max-content;
}

.nav-list li{
    list-style: none;
    padding: 20px 30px;
    font-size: 20px;
}

.nav-list li a{
    text-decoration: none;
    color: rgb(242, 237, 247);
    font-size: 24px;
}

.nav-list li a:hover{
    color: grey;
}

.rightNav{
    width : 30%;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 20px;
    border: 2px solid rgb(80, 73, 73);
    border-radius: 9px;
    width: 70%;
}

.background{
    background:rgba(0, 0, 0, 0.2) url('../img/bg1.jpg');
    background-size: cover;
    background-blend-mode: darken;
    opacity: 90%;
}

.backgroundNav{
    background-color: rgb(0, 0, 0);
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 3, 6);
    font-family: 'Abyssinica SIL', serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

.firstHalf{
    width: 70%;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    padding: 2px;
    border: 3px solid black;
    border-radius: 120px;
    align-content: center;

}

.text-big{
    font-size: 38px;
    font-family: 'Buffalo';
}

.text-small{
    font-size: 16px;
    padding: 10px;
    font-family: 'Abyssinica SIL', serif;
    text-align: inherit;
}

.btn{
    padding: 8px 20px;
    margin: 6px 4px;
    background: black;
    border-radius: 45px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    text-emphasis-color: blue;
    font-size: 15px;
}

.btn:hover{
    text-decoration: none;
    color: rgb(177, 238, 244);
}

.btn-sm{
    padding: 4px 10px;
    vertical-align: middle;
}

.btn-sm:hover{
    text-decoration: none;
    color:rgb(22, 248, 248)
}

.btn-dark{
    color: rgb(255, 255, 255);
    padding: 4px 10px;
    vertical-align: middle;
    border-color: rgb(0, 0, 0);
    font-size: 18px;
}

.btn-dark:hover{
    text-decoration:none;
    color: rgb(143, 212, 242);
    cursor: pointer;
}

.section{
    display: flex;
    padding: 30px 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 75%;
    font-family: 'Abyssinica SIL', serif;
}

.left-section{
    flex-direction: row-reverse;
}

.imgFluid{
    height: 35vh;
}

.paras{
    padding: 0px 50px;
}

.thumbnail img{
    border: 2px solid black;
    width: 300px;
    height: 250px;
    margin-top: auto;
    border-radius: 23px;
}

.contact{
    background-color: rgb(231, 245, 245);
    margin: 0px 15px;
    border: 0.5px solid black;
    padding-bottom: 20px;
}

.form-heading{
    text-align: center;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.form{
    max-width: 60%;
    margin: auto;
    max-height: fit-content;
}

.form-input{
    width: 100%;
    padding: 3px 4px;
    font-size: 14px;
    border: 2px solid grey;
    border-radius: 8px;
    margin-top: 20px;
    margin: 12px 0px;
}

.text-footer{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

.burger{
    position: absolute;
    cursor : pointer;
    top: 15px;
    right: 3%;
    display: none;
}

.line{
    width: 33px;
    height:4px;
    margin: 5px 5px;
    background-color: white;
}
